.App {
  border: .1px solid red !important;
  height: 100%;
  width: 100%;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



body { 
  padding-top: 60px; 
  

}

html, body, #App{
  height: 100%
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.navbar {
  background: #0C120C;

}

.nav a {
  color: #fff;
}

.navbar-brand {
  color: #fff;
}

.navbar-toggler {
  font-size: 20px;
  background-color: rgb(255, 26, 26);
  }

.navbar-nav .right {
  float: right;
}

.card{
  margin-top: 30%;
  margin-bottom: 20%;
  border:none;
  background: linear-gradient(to right, #bebebe, #c5fff7);;
 
}

.box {
  
  padding: 40px;
  text-align: center;
  transition: 0.25s;
  
}

.box input[type="text"],
.box input[type="password"]
{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid black;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: grey;
  border-radius: 24px;
  transition: 0.25s
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid black;
  padding: 14px 40px;
  outline: none;
  color: grey;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer
}

.box input[type="submit"]:hover {
  background: linear-gradient(to right, #f7f7f784, #ba86dc61);
}
